body{
    font-family: 'Roboto', sans-serif; 
}

.container{
   display: flex;
   padding: 50px;
}

.leftMenu{
    flex: 1;
}

.search{
    padding: 10px;
    width: 200px;
    border: 1px solid #444444;
}

h1{
    font-size: 30px;
    color: #555;
    font-weight: 300;
}

.cats{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.cat{
    cursor: pointer;
    font-size: 20p;
    font-weight: 300;
    padding: 5px;
}
.content{
    flex: 4;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

.img{
    width: 150px;
    height: 250px;
    object-fit: contain;
}
  
  .name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
  }
  
  .priceText {
    font-size: 20px;
    color: #f90a0a;
    font-weight: 1000;
    padding-bottom: 10px;
  }
  